.taskWrapper{
  min-width: 20rem;
    padding: 1% 5%;
    border-radius:0.5rem;
    background: var(--gray-500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
}

p{
    color: var(--gray-100);
    font-family: 'Inter';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    white-space: normal;
}


.taskWrapper button{
    background: transparent;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--gray-300);
    transition: 300ms;
}

.button:hover{
    color: var(--red); 
}

.container {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size:1.5rem;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background: var(--blue-dark);
    
  }
  
  .container input:checked ~ .checkmark {
    background-color: var( --purple-dark);
  }
  
  .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 0.3rem;
    top: 0.1rem;
    width:0.2rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  @media(max-width:700px){
    .container .checkmark:after {
        left: 0.3rem;
        top: 0px;
        width: 0.2rem;
        height: 0.5rem;
      }
}

@media(min-width:1900px){

   
    .container .checkmark:after {
        left: 0.3rem;
        top: 0.1rem;
        
      }
      
}